.search {
    padding: 0 30px; 
}

.search-wrap {
    width: 100%; 
    border: 1px solid #999; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px; 
    margin: 30px 0; 
}

.search-icon {
    float: right; 
}

.search-icon input {
    outline: none; 
    margin: 0; 
    padding: 0; 
    background: url('/library/static/img/search-btn.png') no-repeat center center; 
    border: none; 
    width: 28px; 
    height: 28px; 
}

.search-input {
    margin-right: 30px; 
}

.search-input input {
    width: 100%; 
    border: none; 
    outline: none; 
    line-height: 28px; 
    font-size: 23px; 
}

.search-notice {
    text-align: center; 
    color: #666; 
}

.result-title {
    text-align: center; 
    padding: 5px 0; 
    margin: 10px 0; 
    color: #3999CC; 
    border-top: 1px solid #3999CC; 
    border-bottom: 1px solid #3999CC; 
}

.result-title h2 {
    font-weight: normal; 
    font-size: 16px; 
}

.sign {
    float: right; 
}

.green-sign {
    color: green; 
}

.red-sign {
    color: red; 
}

.book-name {
    display: inline; 
}

.book-list {
    padding: 0; 
    margin: 0; 
}

.search-book {
    border-bottom: 1px solid #3999CC; 
    list-style-position: inside; 
    padding-bottom: 10px; 
    margin-bottom: 10px; 
}

a {
    color: #3999CC; 
    text-decoration: none; 
}

a:visited {
    color: #3999CC; 
}

.book-detail {
    margin-left: 1.4em; 
    margin-top: 0.5em; 
}

.pagination-wrap {
    width: 100%; 
}

.pagination {
    text-align: center; 
}

.pagination li {
    display: inline; 
    margin: 0 10px; 
}

.pagination a {
    color: #3999CC; 
    text-decoration: none; 
}

.book-detail-name {
    text-align: center; 
    width: 100%; 
    padding: 5px 0; 
    margin: 5px 0; 
    color: #3999CC; 
    border-top: 1px solid #3999CC; 
}

.book-info {
    margin-left: 2em; 
}

.back-btn {
    text-align: right; 
}

.hot-keys {
    text-align: center; 
    max-width: 200px; 
    margin: 0 auto; 
    margin-top: 20px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
