.content {
    padding-left: 80px; 
}

.search-form {
    margin-top: 20px; 
    background: url('/static/img/before-search-input.png') no-repeat left center;
    padding-left: 70px; 
}

.search-form form {
    border: 1px solid black; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 4px;
    border-radius: 10px;
    position: relative;  
}

.search-form input {
    border: none; 
    outline: none; 
    height: 30px; 
}

.search-form .search-input {
    width: 93%; 
    padding: 4px; 
    background: transparent; 
    padding-left: 10px; 
}

.search-form .search-btn {
    background: transparent; 
    background: url('/static/img/search-btn.png') no-repeat center; 
    position: absolute; 
    right: 10px; 
    top: 3px; 
    width: 30px; 
}

.search-notice {
    text-align: center; 
    color: #ADADAD; 
    font-size: 14px; 
}

.index-sep {
}

.sign {
    float: right; 
    width: 3em; 
}

.green-sign {
    color: #74b34a; 
}

.red-sign {
    color: #e83928; 
}

.book-list {
    border-bottom: 1px solid #3a9acd; 
    margin: 0; 
    padding: 0; 
}

.book-list li {
    list-style-position: inside; 
    border-top: 1px solid #3a9acd;
    padding: 5px; 
}

.search-book a {
    text-decoration: none; 
    color: #3b99cd; 
}

.book-detail {
    margin: 10px 1em; 
}

.book-detail p {
    margin: 0; 
    -webkit-margin-before: 0; 
    -webkit-margin-after: 0; 
}

.result-title {
    margin-top: 60px; 
    background: url('/static/img/arrow.png') no-repeat left center; 
}

.result-title h2 {
    font-size: 17px; 
    padding-left: 64px; 
    color: #787878; 
    font-weight: normal; 
}

.pagination-wrap {
    text-align: center; 
    margin-top: 10px; 
}

.pagination {
    display: inline-block; 
    *display: inline;
    *zoom: 1;
    margin: 0; 
    padding: 0; 
}

.pagination li {
    display: inline; 
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

.pagination li a {
    color: #3B99CD; 
    text-decoration: none; 
}

.book {
    border-top: 1px solid #3999cc; 
    margin-top: 10px; 
    padding: 20px; 
}

.book .borrow {
    float: right; 
}

.book-detail-name {
    color: #3B99CD; 
    font-size: 19px; 
}

.book-info {
    margin-top: 30px; 
}

.book-info a {
    color: #3b99cd; 
    text-decoration: none; 
}

.back-btn {
    margin-top: 80px; 
    text-align: right; 
}

.back-btn a {
    background: #3999cc; 
    color: white; 
    padding: 10px; 
    text-decoration: none; 
}
