{% extends "index.html" %}
{% block content %}
<div style="border-bottom: 1px solid #ccc;">
	<h3>{{ book.name }}</h3>
	<p>作者：{{ book.author }}</p>
	<p>出版社：{{ book.publisher }}</p>
	<p>出版日期：{{ book.publish_date }}</p>
	<p>ISBN: {{ book.isbn }}</p>
</div>
<div>
	<p>索书号：{{ book.callno }}</p>
	<p>馆藏状态：</p>
	<ol style="margin-left:28px;">
		{% for detail in book.detail_list %}
		<li>
			{{ detail['STATE'] }} / {{ detail['CURLOCAL'] }} {% if detail.has_key('RETURNDATE') %} / {{ detail['RETURNDATE'] }} {% endif %}
		</li>
		{% endfor %}
	</ol>
	<a href="/Query?pageNo={{ pageNo }}&val1={{ val1 }}">返回搜索结果</a>
</div>
{% endblock %}
