{% extends "layout.html" %}

{% block breadcrumb %}
<span><a href="/">校门口</a></span>
<span class="sep"></span>
<span><a href="/">图书馆</a></span>
<span class="sep"></span>
<span><a href="/Query?pageNo={{ pageNo }}&val1={{ val1 }}">{{ query_val | e }}</a></span>
<span class="sep"></span>
<span>{{ book.name | e }}</span>
{% endblock %}

{% block body %}
<div class="back-to-result">
    <a href="/Query?pageNo={{ pageNo }}&val1={{ val1 }}">« 返回搜索结果</a>
</div>
<div class="book-detail">
    <table class="book-detail-table">
        <tr>
            <th colspan="2" class="book-detail-title">书籍信息</th>
        </tr>
        <tr>
            <th>书名</th>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <th>作者</th>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <th>出版社</th>
            <td>{{ book.publisher }}</td>
        </tr>
        <tr>
            <th>出版日期</th>
            <td>{{ book.publish_date }}</td>
        </tr>
        <tr>
            <th>ISBN</th>
            <td>{{ book.isbn }}</td>
        </tr>
        <tr>
            <th colspan="2" class="book-detail-title">馆藏信息</th>
        </tr>
        <tr>
            <th>索书号</th>
            <td>{{ book.callno }}</td>
        </tr>
        <tr>
            <th>馆藏状态</th>
            <td>
                <ol>
                    {% for detail in book.detail_list %}
                    <li>{{ detail['STATE'] }} / {{ detail['CURLOCAL'] }} {% if detail.has_key('RETURNDATE') %} / {{ detail['RETURNDATE'] }} {% endif %}</li>
                    {% endfor %}
                </ol>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
