{% extends "layout.html" %}

{% block content %}
{% include 'search-form.html' %}
<div class="book">
    <div class="borrow">
        {% if book.borrow_count != 0 %}
        <span class="green-sign">{{ book.borrow_count }}本可借</span>
        {% else %}
        <span class="red-sign">不可借</span>
        {% endif %}
        <span>/共{{ book.detail_list | length }}本</span>
    </div>
    <div class="book-detail-name">{{ book.name }}</div>
    <div class="book-info">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>索书号：&nbsp;&nbsp;{{ book.callno }}</td>
            </tr>
            <tr>
                <td>著者：&nbsp;&nbsp;<a href="/Query?pageNo=1&val1={{ book.author }}">{{ book.author }}</a></td>
            </tr>
            <tr>
                <td>出版社：&nbsp;&nbsp;<a href="/Query?pageNo=1&val1={{ book.publisher }}">{{ book.publisher }}</a></td>
            </tr>
            <tr>
                <td>出版日期：&nbsp;&nbsp;{{ book.publish_date }}</td>
            </tr>
            <tr>
                <td>ISBN：&nbsp;&nbsp;{{ book.isbn }}</td>
            </tr>
        </table>
    </div>
    <div class="result-title">
        <h2>馆藏状态</h2>
    </div>
    <div class="result-body">
        <ol class="book-status">
            {% for detail in book.detail_list %}
            <li>{{ detail['STATE'] }} / {{ detail['CURLOCAL'] }} {% if detail.has_key('RETURNDATE') %} / {{ detail['RETURNDATE'] }} {% endif %}</li>
            {% endfor %}
        </ol>
    </div>
    <div class="back-btn">
        <a href="/Query?pageNo={{ pageNo }}&val1={{ val1 }}">返回结果列表</a>
    </div>
</div>
{% endblock %}
