<html>
    <head>
        <META http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <Title>书目信息</Title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>索书号</th>
                <th>条形码</th>
                <th>馆藏状态</th>
                <th>应还时间</th>
                <th>所在馆</th>
                <th>所在馆位置</th>
                <th>流通类型</th>
                <th>借阅次数</th>
                <th>续借次数</th>
            </tr>

            {% for detail in detail_list %}
            <tr>
                <td>{{ detail['CALLNO'] }}</td>
                <td>{{ detail['BARCODE'] }}</td>
                <td>{{ detail['STATE'] }}</td>
                <td>{{ detail['RETURNDATE'] if detail.has_key('RETURNDATE') else '' }}</td>
                <td>{{ detail['CURLIB'] }}</td>
                <td>{{ detail['CURLOCAL'] }}</td>
                <td>{{ detail['CIRTYPE'] }}</td>
                <td>{{ detail['TOTALLOANNUM'] }}</td>
                <td>{{ detail['TOTALRENEWNUM'] }}</td>
            </tr>
            {% endfor %}
        </table><br />
    </body>
<html>
