{% extends "layout.html" %}

{% block breadcrumb %}
<span><a href="/">校门口</a></span><span class="sep"></span><span>图书馆</span>
{% endblock %}

{% block body %}
<div class="search-form">
    <form method="get" action="/Query">
        <input type="hidden" name="pageNo" value="1" />
        <input class="search-input" type="text" name="val1"/>
        <input class="search-btn" type="submit" value="" />
    </form>
</div>
<div class="search-intro">
    <p>请输入关键词搜索图书馆书籍</p>
</div>
{% endblock %}

{% block subtitle %}图书馆{% endblock %}
